<section>
  <h1>Audit SEO (React/TypeScript)</h1>
  <p>
    Audit et proposition de prompt vibe coding SEO pour environnement React/TypeScript. Je développe et améliore cet outil sur <a target="_blank" href="https://app.base44.com/register?ref=JVQDNHPTPFWLY6WN />Base44</a>, il fonctionne avec ChatGPT 5 pour l'audit et la rédaction du prompt.
 </p>
 <p>
 Cet outil n'es pas une bible ! Le SEO React avec TypeScript est complexe, car tout le rendu côté UI ne comporte aucun contenu html lisible par les moteurs de recherche. Google sait (ou saurait, selon les experts) lire (plus ou moins bien) le JavaScript, mais... Les optimisations proposées par le prompt donnent au moins du grain à moudre aux bots des Search Engines, et j'ai pu le tester avec succès sur la Search Console de Google.                                                                                                                                

  <!-- Iframe temporaire de test -->
  <iframe
    src="https://spa-seo.base44.app"
    height="1200"
    loading="lazy"
  ></iframe>
</section>
